# WARNING:
# These values are intended for local development only.
# Do not use these credentials or secrets in production environments.
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=flowboard

# Create database url based on values above
DATABASE_URL=postgresql://postgres:postgres@postgres:5432/flowboard?schema=public

BETTER_AUTH_SECRET=replace-with-secure-secret
BETTER_AUTH_URL=http://localhost:3000
SEED_USER_PASSWORD=admin1234
FRONT_URL=http://localhost:5173
