# Database
DATABASE_URL=postgresql://postgres:postgres@postgres:5432/flowboard?schema=public

# Auth
BETTER_AUTH_SECRET=replace-with-secure-secret
# The same backend url for better auth
BETTER_AUTH_URL=http://localhost:3000

# Seed
SEED_USER_PASSWORD=admin1234

# Cors
FRONT_URL=http://localhost:5173
